<div class="container main-list">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-style">
            <span (click)="OnNewClick()" class="button__text">Nueva pelicula</span>
        </button>
    </div>
    <div class="container">
        <app-tabla-pelicula [peliculas]="peliculas" (detallePelicula)="recibirDetallePelicula($event)"></app-tabla-pelicula>
    </div>
</div>
<div class="container-fluid">
    <div class="row d-flex justify-content-around align-items-center">
        <div class="col-sm-6 j">
            <div>
            </div>
        </div>
        <div class="col-sm-6 j">
            <div>
                <app-detalle-pelicula [pelicula]="pelicula"></app-detalle-pelicula>
            </div>
        </div>
        <div class="col-sm-6 j">
            <div>
            </div>
        </div>
    </div>
</div>