<div class="container screen-container">
    <div class="screen">
        <form>
            <h2>Peliculas</h2>
            <div class="field">
                <span class="text-feild">Nombre </span>
                <input type="text" class="login-input" placeholder="Nombre" [(ngModel)]="nombre" name="nombre">
            </div>
            <div class="field">
                <span class="text-feild">Tipo </span>
                <input type="text" class="login-input" placeholder="Tipo" [(ngModel)]="tipo" name="tipo">
            </div>
            <div class="field">
                <span class="text-feild">Fecha de estreno </span>
                <input type="date" class="login-input" [(ngModel)]="fechaEstreno" name="fechaEstreno">
            </div>
            <div class="field">
                <span class="text-feild">Cantidad de publico </span>
                <input type="text" class="login-input" placeholder="Cantidad publico" [(ngModel)]="cantidadPublico" name="cantidadPublico">
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-dark">
                    <span (click)="OnCancelClick()" class="button__text">Cancelar</span>
                </button>
                <button type="button" class="btn btn-success">
                    <span (click)="OnSaveClick()" class="button__text">Guardar</span>
                </button>
            </div>
        </form>
    </div>
</div>