<table class="table">
    <thead>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Fecha estreno</th>
        <th>Cantidad publico</th>
        <th>Foto pelicula</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        <tr *ngFor="let pelicula of peliculas">
            <td>{{ pelicula.nombre }}</td>
            <td>{{ pelicula.tipo }}</td>
            <td>{{ pelicula.fechaEstreno }}</td>
            <td>{{ pelicula.cantidadPublico }}</td>
            <td>{{ pelicula.fotoPelicula }}</td>
            <td>
                <!-- Botón para ver detalles -->
                <button class="btn btn-style" (click)="verDetalles(pelicula)">
                    <i class="bi bi-info-circle"></i> 
                </button>
                <!-- Botón para borrar -->
                <button class="btn btn-style" (click)="borrarPelicula(pelicula)">
                    <i class="bi bi-trash"></i> 
                </button>
            </td>
        </tr>
    </tbody>
</table>
