.table
{
    background-color: #43403B;
    border-radius: 10px;
    color: #F4E9CD;
}

td
{
    background-color: #2E2C28;
    color: #F4E9CD;
    border-bottom: solid 10px #5B5750;

}

.btn-style
{
    background-color: #E8E9CD;
    border-radius: 5px 5px 0px 5px;
    margin-right: 5px;
}


radio-button input[type="radio"] 
{
    display: none;
}

.radio-button label 
{
    display: inline-block;
    background-color: #d1d1d1;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 18px;
    cursor: pointer;
}

.radio-button input[type="radio"]:checked+label {
    background-color: #76cf9f;
}