*
{
    color: #F4E9CD;
}

.desc-feild
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E2C28;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
}

.image-container
{
    width: 150px;
}

.image
{
    border-radius: 10px 10px 0px 10px;
    width: 150px;
}