<div class="container">
    <div class="screen">
        <h2>Detalle</h2>
        <diV class="desc-container">
            <div class="desc-feild">
                <span>Nombre</span>
                <h4>{{pelicula.nombre}}</h4>
            </div>
            <div class="desc-feild">
                <span>Tipo</span>
                <h4>{{pelicula.tipo}}</h4>
            </div>
            <div class="desc-feild">
                <span>Fecha de estreno</span>
                <h4>{{pelicula.fechaEstreno}}</h4>
            </div>
            <div class="desc-feild">
                <span>Cantidad de publico</span>
                <h4>{{pelicula.cantidadPublico}}</h4>
            </div>
        </diV>
    </div>
</div>
