*
{
    color: #F4E9CD;
}

.desc-feild
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E2C28;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 10px;
}